<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>

    <div class="currency">
      <h2>currency list</h2>
      <ul>
        <li :key="item.code" v-for="item in currency">
          <a href="#">{{ item.code }} <span> : {{ item.description }}</span></a>
        </li>
      </ul>
    </div>

    <br>
    <input class="button-1" value="get currency" type="button" @click="fetchCurrencyAction">
    <br>
    <input class="button-1" value="load currency" type="button" @click="getDataCurrency">
  </div>
  
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      helloArray: [1,2,3,4,5],
      currency: []
    }
  },
  computed: {
    ...mapGetters("hello", ["getHelloArray", "getCurruency"])
  },
  methods: {
    ...mapActions("hello", ["fetchHelloArrayAction", "fetchCurrencyAction"]),
    getDataHello() {
      this.helloArray = this.getHelloArray
    },
    getDataCurrency() {
      this.currency = this.getCurruency
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.hello {
  h1, h2 {
    font-weight: normal;
  }
  a {
    color: #42b983;
  }
  .button-1 {
    border: 2px solid green;
    border-radius: 30px;
    height: 30px;
    width: 100px;
  }
  ul {
    list-style-type: none;
  }
  .currency {
    width: 300px;
    text-align: left;
    h2 {
      font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
      margin: 0;
      padding: 0;
    }
 
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
 
    li {
      font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
      border-bottom: 1px solid #ccc;
    }
 
    li:last-child {
      border: none;
    }
 
    li a {
      text-decoration: none;
      color: #000;
      display: block;
      width: 200px;
 
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
    }
 
    li a:hover {
      font-size: 24px;
      background: #f6f6f6;
    }
  }
}


</style>
